


@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.primary-font-color{
    color: #0D1321;
    font-size: 16px;
    font-weight: normal;
    opacity: .7;
    line-height: 26px;
}
.development-content-title{
     font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

main{
    max-width: 1140px;
    margin: auto;
}

/* nev section start */


nav{
    max-width: 1140px;
    margin: 38px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 28px;
    text-shadow: 0px 4px 4px #000000;
}
nav .btn{
    padding: 17px 24px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
nav button{
    background-color: white;
    border-radius: 8px;
    color: #0D1321;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    opacity: .8;
    
}
nav .btn a{
    text-decoration: none;
}

/* banner section start */

.banner-section{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 1440px;
    max-height: 652px; */
    margin-bottom: 74px;
}
.banner-container{
    padding: 26px 0px 45px;
    max-width: 998px;
    margin: auto;
}
.banner-img{
    margin: 0px auto;
    display: block;
    margin-bottom: 32px;
}
.banner-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 68px;
    text-align: center;
}
.banner-content{
    text-align: center;
    padding: 24px 73px;
    /* color: #0D1321; */
    font-size: 16px;
    font-weight: normal;
    opacity: .7;
    line-height: 26px;
}
.Contact{
    align-items: center;
    justify-content: center;
    display: flex;
}
.banner-button{
    background-color: #0D1321;
    padding: 21px 24px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}
.banner-button a{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    line-height: auto;
}

/* web-development section start */

.web-development-section{
    
}
.development-container{
    padding: 80px 97px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
    
}
.development-items1{}

.development-content1{
    /* padding: 0px 48px 47px; */
    max-width: 852px;
    margin: auto;
    text-align: center;
}
/* .development-content1 h3{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
} */
.development-content1 p{
    margin-bottom: 48px;
}
.development-items2{
    display: flex;
    max-width: 946px;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(253, 253, 255, 0));
    margin-bottom: 32px;
    border-radius: 16px;
}
#development-items-liner{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(253, 253, 255, 1)) !important; 
}
.development-content2{
    max-width: 447px;
    text-align: left;
}
.development-content2 h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
    margin-right: 87px;
    margin-bottom: 16px;
}

.development-content2 p{
    margin-bottom: 32px;
}
.development-content2 a{}
.development-image{
    max-width: 275px;
}
.development-image img{}
.development-content2 a{
    text-decoration: none;
    padding: 12px 20px;
    border: 1px solid rgba(13, 19, 33, 0.5);
    color: rgba(13, 19, 33, 0.7);
    cursor: pointer;
}
.learnbtn{
    font-size: 20px;
    font-weight: 600;
    
}


/* inspiration section start */


.inspiration-section{
    margin-top: 90px;
    margin-bottom: 151px;
}
.inspiration-content{
    max-width: 852px;
    margin: auto;
    text-align: center;
    margin-bottom: 48px;
}
.inspiration-content h4{}
.inspiration-content p{}
.inspiration-video{
    width: 1140px;
    height: 614px;
    margin: auto;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspiration-video-contaniner iframe{
    border-radius: 16px;
}




/* current target section start */


.current-target-item{
    text-align: center;
    padding: 0px 144px;
    margin-bottom: 48px;
}
.current-target-item2{
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin-bottom: 111px;
}
.current-target-item2 img{
    margin-bottom: 24px;
}
.current-target-item2 h4{
    font-size: 24px;
    line-height: 36px;
    color: #0D1321;
    margin-bottom: 8px;
}
.current-target-item2 a{
    display: inline-block;
    margin-top: 24px;
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
}
.target-html{
    background-color: rgba(255, 76, 30,.05);
    max-width: 365px;
    padding: 40px;
    border-radius: 16px;
}
.target-css{
    background-color: rgba(0, 76, 232, .05);
     max-width: 365px;
    padding: 40px;
    margin: 0px 24px;
    border-radius: 16px;
}
.target-js{
    background-color: rgba(255, 223, 0, .05);
     max-width: 365px;
    padding: 40px;
    border-radius: 16px;
}


/* Next target section start */




